#graph {
  margin: .5em;
}

#display {
  display: inline-block;
  border: 1px solid black;
  border-radius: .25em;
}

#tooltip {
  white-space: pre-wrap;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background: white;
  border: 1px solid black;
  border-radius: .25em;
  padding: .25em;
}

#x-axis {
  border: 10px solid pink;
}

#title {
  font-size: 1.5em;
}

#subtitle {
  font-size: 1em;
}